
@{
    ViewData["Title"] = "index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>T-shirt</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>T-shirt</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>T-shirt</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>