@{
    ViewData["Title"] = "Home Page";
}

<div class="intro-slider-container mb-3 mb-lg-5">
    <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl" data-owl-options='{"dots": true, "nav": false}'>
        <div class="intro-slide" style="background-image: url(https://portotheme.com/html/molla/assets/images/demos/demo-18/slider/slide-1.jpg);">
            <div class="container">
                <div class="intro-content text-center">
                    <h3 class="intro-subtitle cross-txt text-primary">SEASONAL PICKS</h3><!-- End .h3 intro-subtitle -->
                    <h1 class="intro-title text-white">Summer Sale</h1><!-- End .intro-title -->
                    <div class="intro-text text-white">up to 70% off</div><!-- End .intro-text -->
                    <div class="intro-action cross-txt">
                        <a href="category.html" class="btn btn-outline-white">
                            <span>Discover More</span>
                        </a>
                    </div>
                </div>
            </div><!-- End .intro-content -->
        </div><!-- End .intro-slide -->

        <div class="intro-slide" style="background-image: url(https://portotheme.com/html/molla/assets/images/demos/demo-18/slider/slide-2.jpg;">
            <div class="container">
                <div class="intro-content text-center">
                    <h3 class="intro-subtitle text-primary cross-txt">Women's Accessories</h3><!-- End .h3 intro-subtitle -->
                    <h1 class="intro-title text-white">Save up to</h1><!-- End .intro-title -->
                    <div class="intro-text text-white">30-50% off</div><!-- End .intro-text -->
                    <div class="intro-action cross-txt">
                        <a href="category.html" class="btn btn-outline-white">
                            <span>Discover More</span>
                        </a>
                    </div>
                </div>
            </div><!-- End .intro-content -->
        </div><!-- End .intro-slide -->
    </div><!-- End .intro-slider owl-carousel owl-simple -->

    <span class="slider-loader text-white"></span><!-- End .slider-loader -->
</div><!-- End .intro-slider-container -->

<div class="container banners">
    <div class="row">
        <div class="col-lg-6">
            <div class="banner banner-hover">
                <a href="#">
                    <img src="~/templates/molla/assets/images/demos/demo-18/banners/banner-1.jpg" alt="Banner">
                </a>

                <div class="banner-content">
                    <h3 class="banner-title text-white"><a href="#">Sweatshirts & Hoodies</a></h3><!-- End .banner-title -->
                    <a href="#" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                </div><!-- End .banner-content -->
            </div><!-- End .banner -->
        </div><!-- End .col-lg-6 -->

        <div class="col-sm-6 col-lg-3">
            <div class="banner banner-hover">
                <a href="#">
                    <img src="~/templates/molla/assets/images/demos/demo-18/banners/banner-2.jpg" alt="Banner">
                </a>

                <div class="banner-content">
                    <h3 class="banner-title text-white"><a href="#">Men’s Jacket</a></h3><!-- End .banner-title -->
                    <a href="#" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                </div><!-- End .banner-content -->
            </div><!-- End .banner -->
        </div><!-- End .col-sm-6 -->

        <div class="col-sm-6 col-lg-3">
            <div class="banner banner-hover">
                <a href="#">
                    <img src="~/templates/molla/assets/images/demos/demo-18/banners/banner-3.jpg" alt="Banner">
                </a>

                <div class="banner-content">
                    <h3 class="banner-title text-white"><a href="#">Women’s jackets</a></h3><!-- End .banner-title -->
                    <a href="#" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                </div><!-- End .banner-content -->
            </div><!-- End .banner -->

            <div class="banner banner-hover">
                <a href="#">
                    <img src="~/templates/molla/assets/images/demos/demo-18/banners/banner-4.jpg" alt="Banner">
                </a>

                <div class="banner-content">
                    <h3 class="banner-title text-white"><a href="#">Accessories</a></h3><!-- End .banner-title -->
                    <a href="#" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                </div><!-- End .banner-content -->
            </div><!-- End .banner -->
        </div><!-- End .col-sm-6 -->
    </div><!-- End .row -->
</div><!-- End .container -->

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="title">Recent Arrivals</h2><!-- End .title -->
            <div class="products-container mb-7">
                <div class="row justify-content-center">
                    <div class="col-6 col-md-4">
                        <div class="product product-4">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="~/templates/molla/assets/images/demos/demo-18/products/product-1.jpg" alt="Product image" class="product-image">
                                    <img src="~/templates/molla/assets/images/demos/demo-18/products/product-1-2.jpg" alt="Product image" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                </div><!-- End .product-action -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Clothing</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Linen-blend dress</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    $60.00
                                </div><!-- End .product-price -->
                                <div class="product-nav product-nav-dots">
                                    <a href="#" class="active" style="background: #e5dcb1;"><span class="sr-only">Color name</span></a>
                                    <a href="#" style="background: #bacbd8;"><span class="sr-only">Color name</span></a>
                                </div><!-- End .product-nav -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-md-4 -->

                    <div class="col-6 col-md-4">
                        <div class="product product-4">
                            <figure class="product-media">
                                <span class="product-label label-primary">Sale</span>
                                <a href="product.html">
                                    <img src="~/templates/molla/assets/images/demos/demo-18/products/product-2.jpg" alt="Product image" class="product-image">
                                    <img src="~/templates/molla/assets/images/demos/demo-18/products/product-2-2.jpg" alt="Product image" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                </div><!-- End .product-action -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Shoes</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Sandals with lacing</a></h3><!-- End .product-title -->

                                <div class="product-price">
                                    <span class="new-price">Now $70.00</span>
                                    <span class="old-price">Was $84.00</span>
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-md-4 -->

                    <div class="col-6 col-md-4">
                        <div class="product product-4">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="~/templates/molla/assets/images/demos/demo-18/products/product-3.jpg" alt="Product image" class="product-image">
                                    <img src="~/templates/molla/assets/images/demos/demo-18/products/product-3-2.jpg" alt="Product image" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                </div><!-- End .product-action -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Clothing</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Paper bag trousers</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    $60.00
                                </div><!-- End .product-price -->
                                <div class="product-nav product-nav-dots">
                                    <a href="#" class="active" style="background: #9fac76;"><span class="sr-only">Color name</span></a>
                                    <a href="#" style="background: #333333;"><span class="sr-only">Color name</span></a>
                                </div><!-- End .product-nav -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-md-4 -->

                    <div class="col-6 col-md-4">
                        <div class="product product-4">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="~/templates/molla/assets/images/demos/demo-18/products/product-4.jpg" alt="Product image" class="product-image">
                                    <img src="~/templates/molla/assets/images/demos/demo-18/products/product-4-2.jpg" alt="Product image" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                </div><!-- End .product-action -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Handbags</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Bucket bag</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    $350.00
                                </div><!-- End .product-price -->
                                <div class="product-nav product-nav-dots">
                                    <a href="#" class="active" style="background: #e3a84d;"><span class="sr-only">Color name</span></a>
                                    <a href="#" style="background: #f48a5b;"><span class="sr-only">Color name</span></a>
                                    <a href="#" style="background: #333333;"><span class="sr-only">Color name</span></a>
                                </div><!-- End .product-nav -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-md-4 -->

                    <div class="col-6 col-md-4">
                        <div class="product product-4">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="~/templates/molla/assets/images/demos/demo-18/products/product-5.jpg" alt="Product image" class="product-image">
                                    <img src="~/templates/molla/assets/images/demos/demo-18/products/product-5-2.jpg" alt="Product image" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                </div><!-- End .product-action -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Clothing</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Silk-blend kaftan</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    $370.00
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-md-4 -->

                    <div class="col-6 col-md-4">
                        <div class="product product-4">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="~/templates/molla/assets/images/demos/demo-18/products/product-6.jpg" alt="Product image" class="product-image">
                                    <img src="~/templates/molla/assets/images/demos/demo-18/products/product-6-2.jpg" alt="Product image" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                </div><!-- End .product-action -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Clothing</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Linen-blend jumpsuit</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    $595.00
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-md-4 -->

                    <div class="col-6 col-md-4">
                        <div class="product product-4">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="~/templates/molla/assets/images/demos/demo-18/products/product-7.jpg" alt="Product image" class="product-image">
                                    <img src="~/templates/molla/assets/images/demos/demo-18/products/product-7-2.jpg" alt="Product image" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                </div><!-- End .product-action -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Handbags</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Paper straw shopper</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    $398.00
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-md-4 -->

                    <div class="col-6 col-md-4">
                        <div class="product product-4">
                            <figure class="product-media">
                                <span class="product-label label-sale">Sale</span>
                                <a href="product.html">
                                    <img src="~/templates/molla/assets/images/demos/demo-18/products/product-8.jpg" alt="Product image" class="product-image">
                                    <img src="~/templates/molla/assets/images/demos/demo-18/products/product-8-2.jpg" alt="Product image" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                </div><!-- End .product-action -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Shoes</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Sandals</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    <span class="new-price">Now $120.00</span>
                                    <span class="old-price">Was $140.00</span>
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-md-4 -->

                    <div class="col-6 col-md-4">
                        <div class="product product-4">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="~/templates/molla/assets/images/demos/demo-18/products/product-9.jpg" alt="Product image" class="product-image">
                                    <img src="~/templates/molla/assets/images/demos/demo-18/products/product-9-2.jpg" alt="Product image" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                </div><!-- End .product-action -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Clothing</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Vest dress</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    $9.99
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-md-4 -->
                </div><!-- End .row -->

                <div class="more-container text-center mt-0 mb-0">
                    <a href="category.html" class="btn btn-outline-primary-2 btn-more">
                        <span>View more Products</span>
                    </a>
                </div><!-- End .more-container -->
            </div><!-- End .products -->
        </div><!-- End .col-lg-9 -->

    </div><!-- End .row -->

    <hr class="mt-0 mb-4">
    <h2 class="title text-center brands">Shop by Brands</h2><!-- End .title -->

    <div class="owl-carousel mt-3 mb-4 owl-simple" data-toggle="owl"
         data-owl-options='{
                        "nav": false,
                        "dots": true,
                        "margin": 30,
                        "loop": false,
                        "responsive": {
                            "0": {
                                "items":2
                            },
                            "420": {
                                "items":3
                            },
                            "600": {
                                "items":4
                            },
                            "900": {
                                "items":5
                            },
                            "1024": {
                                "items":6
                            },
                            "1200": {
                                "items":6,
                                "nav": true,
                                "dots": false
                            }
                        }
                    }'>
        <a href="#" class="brand">
            <img src="~/templates/molla/assets/images/brands/1.png" alt="Brand Name">
        </a>

        <a href="#" class="brand">
            <img src="~/templates/molla/assets/images/brands/2.png" alt="Brand Name">
        </a>

        <a href="#" class="brand">
            <img src="~/templates/molla/assets/images/brands/3.png" alt="Brand Name">
        </a>

        <a href="#" class="brand">
            <img src="~/templates/molla/assets/images/brands/4.png" alt="Brand Name">
        </a>

        <a href="#" class="brand">
            <img src="~/templates/molla/assets/images/brands/5.png" alt="Brand Name">
        </a>

        <a href="#" class="brand">
            <img src="~/templates/molla/assets/images/brands/6.png" alt="Brand Name">
        </a>

        <a href="#" class="brand">
            <img src="~/templates/molla/assets/images/brands/7.png" alt="Brand Name">
        </a>
    </div><!-- End .owl-carousel -->
</div><!-- End .container -->

