
@{
    ViewData["Title"] = "index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="card ">
    <div class="card-header d-flex justify-content-between">
        <h2 class="card-title">Categories List</h2>
        <div>
            <a class="btn btn-primary" href="Category/Create">
                <i class="fas fa-plus"></i>
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive ps">
            <table class="table tablesorter " id="">
                <thead class=" text-primary">
                    <tr>
                        <th class="">
                            ID
                        </th>
                        <th class="">
                            Name
                        </th>  
                        <th>
                            <i class="fas fa-cog"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td class="">
                            Pack do pé
                        </td>
                        <td>
                            <a href="#" class="mx-2"><i class="fas fa-pencil-alt"></i></a>
                            <a href="#" class="mx-2"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2
                        </td>
                        <td class="">
                            Shoes
                        </td>
                        <td>
                            <a href="#" class="mx-2"><i class="fas fa-pencil-alt"></i></a>
                            <a href="#" class="mx-2"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            3
                        </td>
                        <td>
                            Shirt
                        </td>
                        <td >
                            <a href="#" class="mx-2"><i class="fas fa-pencil-alt"></i></a>
                            <a href="#" class="mx-2"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
