
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="~/clientapp/dist/views/areas/product/ProductForm.js"></script>
}

<div class="card" id="root">

</div>
