
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script src="~/clientapp/dist/views/product/Details.js"></script>
}

<div class="page-wrapper">
    <main class="main">
        <div class="page-header text-center mb-4" style="background: #333333">

        </div><!-- End .page-header -->
        <div id="root" class="container">

        </div><!-- End .container -->

    </main><!-- End .main -->


</div><!-- End .page-wrapper -->


